.nav {
    display: flex;
    justify-content: space-between;
  }
  
  .nav__logo {
    width: 105px;
    height: 39px;
    position: relative;
    left: -50px;
  }
  
  .nav__links {
    margin: 0;
    display: flex;
    align-items: flex-start;
    column-gap: 20px;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
  }
  
  .nav__link {
    font-family: "Inter", Arial, sans-serif;
    color: #000;
    text-decoration: none;
    font-weight: 500;
  }
  
  .nav__link:hover {
    color: #1f69c9;
  }