.footer {
  padding-top: 40px;
  box-sizing: border-box;
}

.footer__copyright {
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #545454;
}

@media screen and (max-width: 1100px) {
  .footer {
    margin-top: 0;
    max-width: 880px;
  }
}

@media screen and (max-width: 480px) {
  .footer__copyright {
    font-size: 14px;
  }
}
