.gallery {
  font-family: "Inter", Arial, sans-serif;
  margin-top: 40px;
}

.gallery__cards {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
