.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
  font-family: "Inter", Arial, sans-serif;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) 34px;
}

.profile__name {
  font-size: 42px;
  line-height: 1.14;
  font-weight: 500;
  grid-area: title;
  margin: 0;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__description {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  grid-area: description;
  margin: 0;
  max-width: 100%;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  background: transparent url(../images/edit-button.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  transform: translate(10px, 10px);
  border: 1px solid white;

  opacity: 1;
  position: relative;
  transition: opacity 0.4s ease;
}

.profile__edit-button:hover {
  z-index: 1;
  cursor: pointer;
  opacity: 0.6;
}

.profile__add-button {
  background: transparent url(../images/add-icon.svg) center no-repeat;
  min-width: 150px;
  height: 50px;
  margin-left: auto;
  border: 2px solid white;
  border-radius: 2px;

  opacity: 1;
  position: relative;
  transition: opacity 0.4s ease;
}

.profile__add-button:hover {
  z-index: 1;
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 1100px) {
  .profile {
    margin-top: 0;
    max-width: 880px;
  }

  .profile__edit-button {
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 936px) {
  .profile {
    width: calc(100% - 34px);
  }
  .profile__info {
    margin-right: 20px;
  }
}

@media screen and (max-width: 772px) {
  .profile__add-button {
    min-width: 50px;
  }
}

@media screen and (max-width: 637px) {
  .profile {
    flex-direction: column;
  }

  .profile__image {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .profile__name {
    margin-bottom: 14px;
    max-width: calc(100% - 34px);
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(100% - 12px);
    margin-right: 0;
  }

  .profile__description {
    margin-bottom: 36px;
    max-width: 85%;
    text-align: center;
    flex-basis: 100%;
  }

  .profile__edit-button {
    padding: 0;
    margin-left: 10px;
    transform: none;
  }

  .profile__add-button {
    margin: 0;
    width: 100%;
    max-width: 282px;
  }
}

@media screen and (max-width: 480px) {
  .profile__name {
    font-size: 22px;
  }

  .profile__description {
    font-size: 14px;
  }
}

@media screen and (max-width: 320px) {
  .profile__edit-button {
    transform: scale(0.75);
  }
}
